S3method("[", ensemble)
export(fitall)
export(fitbest)
importFrom(leaps, regsubsets)
export(lmboot)
import(plyr, MASS)
S3method(summary, ensemble)
S3method(coef, ensemble)
S3method(summary, variable_ensemble)
S3method(residuals, ensemble)
S3method(summary, resid_ensemble)
